@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Righteous&display=swap");

/* CSS VARIABLES */
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --light-color: #fbf9f9;
  --middle-color: #949494;
  --dark-color: rgb(53, 53, 53);
  --black-color: #000;
  --orange-color: #ffbe47;

  /*===== Font and typography =====*/
  --body-font: "Josefin Sans", sans-serif;
  --header-font: "Righteous", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*===== Font weight =====*/
  --font-medium: 300;
  --font-semi-bold: 400;
  --font-bold: 600;

  /*===== Margenes =====*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-middle: 10;
  --z-top: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CLASS CSS */

.section {
  padding: 4rem 0 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--orange-color);
  margin-bottom: var(--mb-3);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

/* LAYOUT */

.bd__container {
  max-width: 1024px;
  width: calc(100%-2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd__grid {
  display: grid;
  gap: 1.5rem;
}

/* NAV */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-top);
  background-color: transparent;
  transition: 0.5s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--mb-2);
}

.nav__logo {
  /* cursor: pointer; */
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: var(--h1-font-size);
  color: var(--orange-color);
}

.logo__right {
  color: var(--middle-color);
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: var(--z-top);
}

.language__selector {
  padding-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__list {
    position: fixed;
    top: 0;
    right: -40%;
    width: 40%;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 1rem;
  }
  .scroll-header .nav__list {
    top: var(--header-height);
    padding-top: 1.5rem;
  }
}

.nav__menu--show .nav__list {
  right: 0;
}

.nav__item {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: var(--dark-color);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--orange-color);
}

.hamburger {
  color: var(--light-color);
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  position: relative;
  width: 1.3rem;
  height: 3px;
  background-color: var(--orange-color);
  border-radius: 2px;
  transition: all 0.4s;
}

.bar::after,
.bar::before {
  position: absolute;
  content: "";
  width: 1.3rem;
  height: 3px;
  background-color: var(--orange-color);
  border-radius: 2px;
}

.bar::after {
  top: 0.45rem;
}

.bar::before {
  top: -0.45rem;
}

.nav__menu--show .bar {
  transform: rotate(135deg);
}

.nav__menu--show .bar:before,
.nav__menu--show .bar:after {
  top: 0;
  transform: rotate(90deg);
}

.nav__menu--show .hamburger:hover .bar {
  transform: rotate(315deg);
}

.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--orange-color);
}

.scroll-header {
  background-color: var(--light-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__list {
  background-color: var(--light-color);
}

.scroll__top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  pad: 0.5rem;
  background-color: rgba(219, 219, 219, 0.8);
  border-radius: 0.5rem;
  z-index: var(--z-middle);
  transition: 0.4s;
  visibility: hidden;
}

.scroll__top:hover {
  background-color: rgb(167, 167, 167);
}

.scrolltop__icon {
  font-size: 2rem;
  color: var(--orange-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* HOME */

.home {
  height: 100vh;
  background-image: url("./img/eugene-chystiakov-gq0WFjkU0rk-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home__container {
  height: calc(100vh - var(--header-height));
  perspective: 1000px;
}

.home__greeting {
  height: 70%;
  /* border: 1px solid red; */
  transform-origin: top left;
  transform: rotateY(52deg);
  /* transform: rotateX(350deg); */
  color: var(--black-color);
}

.home__hi {
  padding-top: 3rem;
  font-size: 10rem;
  font-weight: var(--font-bold);
  text-shadow: 0 2px 4px black;
}

.home__bottom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: var(--mb-2);
  color: var(--light-color);
  transition: all 0.4s;
}

.home__social-icon:hover {
  transform: scale(1.1);
}

.home__introduction {
  text-align: right;
  border-right: 0.2rem solid var(--light-color);
  padding-right: 1rem;
}

.home__iam,
.home__profession {
  color: var(--light-color);
}

.home__iam {
  font-size: 2rem;
}

.home__name {
  font-size: 3rem;
  color: var(--orange-color);
}

.home__profession {
  font-size: 2rem;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--orange-color);
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

.button-light {
  background-color: var(--light-color);
}

.button-white {
  background-color: var(--light-color);
  color: var(--first-color-dark);
}

.button-white:hover {
  background-color: var(--light-color);
}

.button-link {
  background: none;
  color: var(--first-color);
  padding: 0;
}

.button-link:hover {
  background: none;
}

/* ABOUT */

.about__data {
  text-align: center;
}

.about__description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--orange-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--orange-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}

/* SKILLS */

.skills__container {
  row-gap: 1.5rem;
}

.skills__subtitle {
  font-size: var(--normal-font-size);
}
.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-1);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--orange-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 80%;
}

.skills__ux {
  width: 85%;
}

.skills__react {
  width: 65%;
}

/* QUALIFICATIONS */

.qualification__container {
  row-gap: 2.5rem;
}

.qualification__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
}

.qualification-icon {
  font-size: 1.5rem;
  margin-right: var(--mb-1);
}

.qualification__box {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.qualification__area {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.qualification__icon,
.qualification__work {
}

.qualification__work {
  display: block;
}

/* Services */

.services__data {
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.services__icon,
.services__title {
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: var(--h3-font-size);
}

.services__description {
  margin-bottom: var(--mb-4);
}

.services__data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

/* Project */

.project__container {
  padding: 1.5rem 1rem;
  background-color: var(--orange-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  text-align: center;
}

.project__icon,
.project__title {
  margin-bottom: var(--mb-1);
}

.project__icon {
  font-size: 3.5rem;
}

.project__title {
  font-size: 1.5rem;
}

.project__description {
  margin-bottom: var(--mb-4);
}

/* PORTFOLIO */

.portfolio__nav {
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio__content {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6 px rgba(174, 190, 205, 0.3);
}

.portfolio__img {
  width: 100%;
  transition: 0.4s;
}

.portfolio__data {
  padding: 1.5rem;
}

.portfolio__subtitle {
  font-size: var(--small-font-size);
  color: var(--light-color);
}

.portfolio__title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin: var(--mb-2) 0;
}

.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

.active-portfolio {
  color: var(--first-color-dark);
  font-weight: var(--font-semi-bold);
}

/* TESTIMONIAL */

.testimonial__content {
  display: grid;
  background-color: var(--first-color-dark);
  color: var(--light-color);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(47, 10, 13, 0.25);
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--light-color);
  margin-bottom: var(--mb-2);
}

/* CONTACT */

.contact__container {
  row-gap: 2.5rem;
}

.contact__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.contact__icon,
.contact__title {
  color: var(--black-color);
}

.contact__icon {
  font-size: 2rem;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}

.contact__social {
  color: var(--black-color);
  font-size: 1.25rem;
  margin: 0 var(--mb-1);
}

.contact__box:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.contact__input,
.contact__button {
  outline: none;
  font-size: var(--normal-font-size);
}

.contact__input {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--light-color);
  color: var(--black-color);
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
}

.contact::placeholder {
  color: var(--light-color);
  font-size: var(--font-semi-bold);
}

.contact__button {
  cursor: pointer;
  border: none;
}

/* FOOTER */

.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
}

.footer__container {
  padding: 3rem 0;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  margin-bottom: var(--mb-3);
}

.footer__social {
  margin-bottom: var(--mb-6);
}

.footer__link {
  font-size: 1.4rem;
  color: var(--light-color);
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer__link:hover {
  color: var(--light-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--light-color);
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
  .home__img img {
    width: 330px;
  }

  .about__container,
  .skills__container,
  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__form {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 6rem;
  }

  .section__title {
    margin-bottom: var(--mb-5);
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--mb-1);
  }

  .nav__item {
    margin-left: var(--mb-3);
    margin-bottom: 0;
  }

  .hamburger {
    display: none;
  }

  .home__container {
    grid-template-rows: max-content 0.5fr;
    align-content: flex-end;
  }

  .home__greeting {
    font-size: 1.25rem;
  }

  .home__profession {
    font-size: 2rem;
  }

  .home__social {
    flex-direction: row;
    align-items: center;
  }

  .home__social-icon {
    margin-right: var(--mb-4);
    margin-bottom: 0;
  }

  .home__img {
    width: 440px;
  }

  .about__description {
    text-align: initial;
  }

  .about__img {
    width: 300px;
  }

  .qualification__box {
    display: flex;
    justify-content: space-between;
  }

  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__container {
    padding: 4.5rem 0;
  }

  .project__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .project__icon,
  .project__title,
  .project__description {
    margin-bottom: 0;
  }

  .project__icon {
    font-size: 6rem;
  }

  .project__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd__container {
    margin-left: auto;
    margin-right: auto;
  }

  .skills__container {
    column-gap: 6rem;
  }
}
